<%= @user.first_name %>, добрый день!

Этот e-mail был указан при регистрации на сайте vedomosti.ru.

Для завершения регистрации перейдите по ссылке:
<%= @url %>

Оставайтесь с нами.

Ваши «Ведомости»,
+7 (495) 232-17-53
podpiska@vedomosti.ru