<%= @user.first_name %>, добрый день!

Вы успешно зарегистрировались. Добро пожаловать на vedomosti.ru. Мы рады видеть вас среди читателей.

Вы могли заметить, что все материалы сайта делятся на открытые и закрытые.
Первые доступны всем без ограничений, вторые — только подписчикам. Если возле заголовка вы видите замочек, то этот материал — только для обладателей подписки. Подписаться на месяц можно за 490 рублей, на год — за 4490.

Что входит в полную онлайн-подписку на «Ведомости»:
  — Доступ ко всем материалам: новостям, интервью, статьям, расследованиям, мнениям
  — Свежий номер в разделе «Газета» (включая pdf-версию, ePub, подкасты)
  — Ежедневная email-рассылка с анонсами свежего номера
  — Возможность читать с любых устройств (компьютер, планшет, смартфон)
  — Участие в обсуждении материалов на сайте
  — Скидка 50% на одну из конференций «Ведомостей» (для годовых подписчиков)
  — Подарки и скидки от наших партнеров

  Вы можете подписаться прямо сейчас.

  Оставайтесь с нами.

  Ваши «Ведомости»,
  +7 (495) 232-17-53
  podpiska@vedomosti.ru