<p><%= @user.first_name %>, добрый день!</p>

<p>Вы успешно зарегистрировались. Добро пожаловать на vedomosti.ru. Мы рады видеть вас среди читателей.</p>

<p>Вы могли заметить, что все материалы сайта делятся на открытые и закрытые.</p>
<p>Первые доступны всем без ограничений, вторые — только подписчикам. Если возле заголовка вы видите замочек, то этот материал — только для обладателей подписки. <a href="http://buy.vedomosti.ru">Подписаться</a> на месяц можно за 490 рублей, на год — за 4490.</p>

<p>Что входит в полную <a href="buy.vedomosti.ru"> онлайн-подписку</a> на «Ведомости»:</p>
<p>  — Доступ ко всем материалам: новостям, интервью, статьям, расследованиям, мнениям</p>
<p>  — Свежий номер в разделе «Газета» (включая pdf-версию, ePub, подкасты)</p>
<p>  — Ежедневная email-рассылка с анонсами свежего номера</p>
<p>  — Возможность читать с любых устройств (компьютер, планшет, смартфон)</p>
<p>  — Участие в обсуждении материалов на сайте</p>
<p>  — Скидка 50% на одну из конференций «Ведомостей» (для годовых подписчиков)</p>
<p>  — Подарки и скидки от наших партнеров </p>

<p>Вы можете подписаться прямо сейчас.</p>

<p>Оставайтесь с нами.</p>

<p>Ваши «Ведомости»,</p>
<p>+7 (495) 232-17-53</p>
<p>podpiska@vedomosti.ru</p>