Здравствуйте!

Этот электронный адрес был указан на сайте Vedomosti.ru при подписке на рассылку "<%= @mail_type.title %>".
Пожалуйста, пройдите по ссылке для подтверждения подписки:

<%= @confirmation_url %>

Это письмо было отправлено автоматически. Если вы считаете, что получили его по ошибке, просто проигнорируйте его.

--
С уважением, «Ведомости»
+7 (495) 232-17-53
podpiska@vedomosti.ru
