<%= @user.first_name %>, добрый день!

Только что продлилась ваша подписка на «Ведомости», потому что у вас включена услуга «Автоплатеж».
Подробности:
Тариф: <%= @payment.subproduct.title %>
Цена: <%= @payment.price.ceil %> руб.
Действует до:  <%= @payment.end_date.strftime('%d.%m.%Y') %>
Автопролонгация: <%= @user.autopay ? 'есть' : 'нет' %>
<% if @user.autopay && @payment.next_billing_date %>
Следующее списание — <%= @payment.next_billing_date.strftime('%d.%m.%Y') %>
<% end %>
Номер заказа: <%= @payment.id %>

<% if @payment.subproduct.slug.eql?('online') && !@payment.period.slug.eql?('1years')%>
Что входит в полную онлайн-подписку на «Ведомости»:
  — доступ ко всем материалам, как сегодняшним, так и к архиву: новостям, интервью, статьям, расследованиям, аналитике
  — возможность читать нас с любых устройств (компьютер, планшет, смартфон)
  — всегда свежий номер в разделе «Газета»
  — ежедневный e-mail с анонсами важных материалов
  — участие в обсуждении материалов на сайте
  — NEW подарки и скидки от наших партнеров
<% elsif @payment.subproduct.slug.eql?('online') && @payment.period.slug.eql?('1years') %>
Что входит в полную онлайн-подписку на «Ведомости»:
  — доступ ко всем материалам, как сегодняшним, так и к архиву: новостям, интервью, статьям, расследованиям, аналитике
  — возможность читать нас с любых устройств (компьютер, планшет, смартфон)
  — всегда свежий номер в разделе «Газета»
  — ежедневный e-mail с анонсами важных материалов
  — участие в обсуждении материалов на сайте
  — NEW скидка 50% на одну из конференций «Ведомостей» по вашему выбору (действует только для вашего годового тарифа. Вы можете прямо сейчас выбрать одну из наших конференций здесь http://info.vedomosti.ru/events/ и написать нам на адрес podpiska@vedomosti.ru. Мы расскажем, как получить скидку 50% и зарегистрироваться на мероприятие)
  — NEW подарки и скидки от наших партнеров
<% elsif @payment.subproduct.slug.eql?('paper') && !@payment.period.slug.eql?('1years') %>
Мы продолжим каждый день доставлять вам газету «Ведомости». В течение двух рабочих дней наш менеджер свяжется с вами для уточнения адреса доставки газеты.
<% elsif @payment.subproduct.slug.eql?('paper') && @payment.period.slug.eql?('1years') %>
Мы продолжим каждый день доставлять вам газету «Ведомости». В течение двух рабочих дней наш менеджер свяжется с вами для уточнения адреса доставки газеты.
Вы также получаете скидку 50% на одну из конференций «Ведомостей». Вы можете выбрать конференцию здесь http://info.vedomosti.ru/events/ и написать нам на адрес podpiska@vedomosti.ru. Мы расскажем, как получить скидку 50% и зарегистрироваться на мероприятие.
<% elsif @payment.subproduct.slug.eql?('profi') && !@payment.period.slug.eql?('1years')%>
Что входит в тариф Online + Print:
  — доступ ко всем материалам, как сегодняшним, так и к архиву: новостям, интервью, статьям, расследованиям, аналитике
  — возможность читать «Ведомости» на бумаге и на сайте с любых устройств (компьютер, планшет, смартфон)
  — всегда свежий номер в разделе «Газета»
  — ежедневный e-mail с анонсами важных материалов
  — участие в обсуждении материалов на сайте
  — NEW подарки и скидки от наших партнеров

В течение двух рабочих дней наш менеджер свяжется с вами для уточнения адреса доставки газеты.
<% elsif @payment.subproduct.slug.eql?('profi') && @payment.period.slug.eql?('1years')%>
Что входит в тариф Online + Print:
  — доступ ко всем материалам, как сегодняшним, так и к архиву: новостям, интервью, статьям, расследованиям, аналитике
  — возможность читать «Ведомости» на бумаге и на сайте с любых устройств (компьютер, планшет, смартфон)
  — всегда свежий номер в разделе «Газета»
  — ежедневный e-mail с анонсами важных материалов
  — участие в обсуждении материалов на сайте
  — NEW скидка 50% на одну из конференций «Ведомостей» по вашему выбору (действует только для вашего годового тарифа. Вы можете прямо сейчас выбрать одну из наших конференций здесь http://info.vedomosti.ru/events/ и написать нам на адрес podpiska@vedomosti.ru. Мы расскажем, как получить скидку 50% и зарегистрироваться на мероприятие)
  — NEW подарки и скидки от наших партнеров

В течение двух рабочих дней наш менеджер свяжется с вами для уточнения адреса доставки газеты.
<% elsif @payment.subproduct.sluq.eql?('student_online')%>
    Вы купили подписку по льготной цене. Не забудьте прислать нам документ, подтверждающий ваш статус, на адрес podpiska@vedomosti.ru.
<% end %>

По любым вопросам свяжитесь с нами по телефону +7 (495) 232-17-53 или по email podpiska@vedomosti.ru.
Отключить Автоплатеж вы можете в личном кабинете: http://id.vedomosti.ru/user/profile

Оставайтесь с нами.

Ваши «Ведомости»,
+7 (495) 232-17-53
podpiska@vedomosti.ru