<?xml version="1.0" encoding="utf-8"?>
<entry xmlns="http://www.w3.org/2005/Atom" xmlns:adriver="http://adriver.ru/ns/restapi/atom">
  <updated>2015-04-17T13:17:05+03:00</updated>
  <author>
    <name>Adriver::RestAPI</name>
  </author>
  <title>Banner Upload Form Atom Entry</title>
  <id>https://api.adriver.ru/banners/<%= banner_id %>/upload_form</id>
  <link rel="edit" type="application/atom+xml" href="https://api.adriver.ru/banners/<%= banner_id %>/upload_form"/>
  <link rel="related" type="application/atom+xml" href="https://api.adriver.ru/banners/<%= banner_id %>"/>
  <content type="text/xml">
    <bannerForm xmlns="http://adriver.ru/ns/restapi/atom">
      <main_component>index.xml</main_component>
      <max_components>0</max_components>
      <upload_type>multipart</upload_type>
      <fields>
        <field>
          <name>upl_file0</name>
          <type>file</type>
          <value>index.xml</value>
          <file href="<%= xml_data_url %>"></file>
        </field>
      </fields>
    </bannerForm>
  </content>
</entry>
