Здравствуйте, <%= @user.full_name %>!

Ваша заказ принят.
В ближайшее время с Вами свяжется менеджер отдела подписки.

Вы можете уточнить детали заказа в личном кабинете, по телефону +7 (495) 232-17-53
и электронной почте podpiska@vedomosti.ru.

Спасибо, что выбираете «Ведомости».

--
С уважением, «Ведомости»
+7 (495) 232-17-53, podpiska@vedomosti.ru
