Здравствуйте, <%= @user.full_name %>!

Ваш заказ №<%= @order.id %> оплачен.
Подписка на пакет «Онлайн + Газета» действует до <%= @order.end_date.strftime('%d.%m.%Y') %>.
В ближайшее время с Вами свяжется менеджер для уточнения адреса доставки газеты.

Спасибо, что выбираете «Ведомости».

--
С уважением, «Ведомости»
+7 (495) 232-17-53, podpiska@vedomosti.ru
