= render partial: 'mailing_generators/newsrelease/dividers/default', locals: {height: 30, colspan: 6}
tr
  td width=15
  td colspan=4
    font color='#2e6f6f' face='Arial' size=4
      b #{page.title.mb_chars.upcase}
    hr color='#e3d1c7' size=1
  td width=15

= render partial: 'mailing_generators/newsrelease/dividers/default', locals: {height: 5, colspan:6}

- page.documents.each_with_index do |document, index|
  - if 'front'== page.slug && index == 0
    tr valign='top'
      td width=15
      td width=170
        a href="#{full_url(document.url)}" style='text-decoration: none;'
          = image_with_dimension(document.image, :small, alt: document.title, image_class: nil)
      td width=15
        img src='http://www.vedomosti.ru/static/letter/padding.jpg' style='display: block;' border=0 width=15
      td colspan=2 valign='top' width='100%'
        a href="#{full_url(document.url)}" style='text-decoration: none'
          font color='#332f2e' face='Arial' size=4
            b #{document.title}
            - if document.pay_required?
              - if free
                img src='http://www.vedomosti.ru/static/letter/lock.png' style='padding-left: 10px'
              - else
                img src='http://www.vedomosti.ru/static/letter/unlock.png' style='padding-left: 10px'
        br
        font color='#544b48' face='Georgia' size=3 
          == document.subtitle
      td width=15

  - else
    tr valign='top'
      td width=15
      td colspan=4
        a href="#{full_url(document.url)}" style='text-decoration: none;'
          font color='#332f2e' face='Arial' size=4
            b #{document.title}
            - if document.pay_required?
              - if free
                img src='http://www.vedomosti.ru/static/letter/lock.png' style='padding-left: 10px'
              - else
                img src='http://www.vedomosti.ru/static/letter/unlock.png' style='padding-left: 10px'
        br
        font color='#544b48' face='Georgia' size=3 
          == document.subtitle
      td width=15
  - if index != page.documents.size - 1
    = render partial: 'mailing_generators/newsrelease/dividers/page', locals: {height: 30}

- if page_counter == 2 && banner_position
  = render partial: 'mailing_generators/newsrelease/dividers/default', locals: {height: 55, colspan: 6}
  
  /!
    banner:#{banner_position}
