tr#footer valign="top"
  td width=15
  td colspan=4 valign='middle'
    table border=0 width="100%" colspan=0 rowspan=0 style='border-collapse: collapse;'
      tr
        td valign='middle' height=10
          hr color='#e3d1c7' size=1
      tr
        td
          font color='#857871' face='Arial' size=2 Вы получили это сообщение, так как подписались на рассылку «Ведомостей».
      tr
        td
          font color='#857871' face='Arial' size=2 #{"Если вы хотите отписаться, "}
          <a href='{{data_escape "unsubscribe"}}' style="text-decoration: underline;" target='_blank'>
            <font color="#857871" face="Arial" size="2">перейдите по ссылке</font>
          </a>
      tr
        td
          font color='#857871' face='Arial' size='2' #{"Обратная связь: "}
          a href='mailto:new-vedomosti@vedomosti.ru' target='_blank' style="text-decoration: underline;"
            font color='#857871' face='Arial' size=2 new-vedomosti@vedomosti.ru
      tr
        td valign='middle' height=10
          hr color='#e3d1c7' size=1
    table cospan=0 rowspan=0 border=0 style='border-collapse: collapse;'
      tr
        td
          font color='#857871' face='Arial' size=2 #{"«Ведомости» в соцсетях:"}
        td
          | &nbsp;&nbsp;
          a href='http://www.facebook.com/Vedomosti' target='_blank'
            img alt='facebook' border=0 src='http://www.vedomosti.ru/static/letter/icon1.jpg'
          | &nbsp;&nbsp;
          a href='http://twitter.com/vedomosti' target='_blank'
            img alt='twitter' border=0 src='http://www.vedomosti.ru/static/letter/icon2.jpg'
          | &nbsp;&nbsp;
          a href='http://vk.com/vedomosti' target='_blank'
            img alt='vk' border=0 src='http://www.vedomosti.ru/static/letter/icon3.jpg'
    font color='#857871' face='Arial' size='2'  Все права защищены © АО Бизнес Ньюс Медиа, 1999 – #{Time.now.year}
    br
    br
    br
    br
  td width=15
