tr#info
  td width=15
  td align='center' colspan=4
    p
      font color='#88807a' face='Georgia' size=3 style="font-style: italic;"
        | Рассылка для подписчиков
  td width=15

tr#header
  td width=15
    img src='http://www.vedomosti.ru/static/letter/padding.jpg' style='display: block;' border=0 width=15
  td align='center' colspan=4 height=106
    a href='http://www.vedomosti.ru/' target='_blank'
      img alt='Ведомости' border=0 width=376 height=106 src='http://www.vedomosti.ru/static/letter/logo.jpg' style='display: block;'
  td width=15
    img src='http://www.vedomosti.ru/static/letter/padding.jpg' style='display: block;' border=0 width=15

tr align='center'
  td colspan=6 height=70 valign='bottom'
    a href="#{full_url(@newsrelease.url)}" target='_blank'
      img alt='подписаться' border=0 src='http://www.vedomosti.ru/static/letter/newspaper.jpg' style='display: block;'
