tr
  td align="center" colspan="2"
    br
    table align="center" border="0" cellpadding="0" cellspacing="0" width="240" 
      tr
        td align="center" bgcolor="#{item[:color]}" height="45" valign="middle" width="240" 
          strong
            a href="#{item[:url]}" style="color: #fff; font-size: 18px; line-height: 18px; text-decoration: underline;" = item[:text]
    br
    br
