<?xml version="1.0" encoding="utf-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops">
  <head>
    <link rel="stylesheet" href="style.css" type="text/css" />
  </head>
  <body class="page-inner">

    <div class="header">
      <img class="logo" src="logo.png" height="28" width="159" align="center"/>
      <p class="book-grey book-info">
        <%= xhtml_fix @page.title %>.
      </p>
      <p class="book-grey book-info">
        <%= newsrelease_date_formatted %>
      </p>
    </div>

    <div class="main">

      <div class="links">
        <a href="toc.html" class="book-grey">Содержание</a>
      </div>

      <h1 class="article-header" id="header"><%= xhtml_fix @article.title %></h1>

      <p class="article-subheader">
        <i><%= xhtml_fix @article.subtitle %></i>
      </p>

      <div class="article-info">
        <span class="article-date book-grey"><%= xhtml_fix newsrelease_date.strftime('%d.%m.%y') %></span>
        <span class="article-author"><strong><%= xhtml_fix article_authors(@article).join(', ') %></strong></span>
        <div class="article-source book-grey"><%= xhtml_fix @article.source_title %></div>
      </div>

      <% @article.boxes.each do |box| %>
        <% next unless box.type == 'paragraph' %>
        <% if box.kind == 'inset_image' %>
          <div class="article-image">
            <img src="<%= box.image.tiny.url %>" />
            <p>
              <strong><%= xhtml_fix box.author %> / <%= xhtml_fix box.copyright %></strong>
            </p>
            <p class="book-grey"><%= xhtml_fix box.title %></p>
          </div>
        <% elsif box.kind == 'inset_text' %>
          <div class="article-inset-text">
            <p class="article-inset-title">
              <strong><%= xhtml_fix box.title %></strong>
            </p>
            <p><%= xhtml_fix box.body %></p>
          </div>
        <% elsif box.kind == 'chronology' %>
          <div class="article-inset-chronology">
            <p class="article-inset-title">
              <strong><%= xhtml_fix box.title %></strong>
            </p>
            <p class="article-inset-title"><%= xhtml_fix box.title %></p>
            <% box.children.each do |item| %>
              <div class="article-inset-chronology-item">
                <p>
                  <span class="book-grey"><%= item.label %></span>
                  <%= item.body %>
                </p>
              </div>
            <% end %>
          </div>
        <% elsif box.kind == 'quote' %>
          <div class="article-inset-quote">
            <i><%= xhtml_fix box.body %></i>
            <p>
              <strong><%= xhtml_fix box.name %></strong>, <%= xhtml_fix box.job %>
            </p>
          </div>
        <% elsif box.kind == 'company' %>
          <div class="article-inset-company">
            <p>
              <strong><%= xhtml_fix box.title %></strong>
            </p>
            <p>
              <%= xhtml_fix box.subtitle %>
            </p>
            <% box.boxes.each do |item| %>
              <p>
                <strong><%= xhtml_fix item.body %></strong>
              </p>
            <% end %>
          </div>
        <% else %>
          <p class="article-text"><%= xhtml_fix box.body %></p>
        <% end %>
      <% end %>

      <div class="links bottom">
        <a href="toc.html" class="book-grey">Содержание</a>
        <div>
          <% if @prev_article %>
            <a href="a<%= @prev_article.id %>.html" class="book-grey prev">
              Предыдущий материал
            </a>
            &#160;
          <% end %>
          <% if @next_article %>
          <a href="a<%= @next_article.id %>.html" class="book-grey next">
            Следующий материал
          </a>
          <% end %>
        </div>
      </div>

    </div>

  </body>
</html>
