<?xml version="1.0" encoding="utf-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops">
  <head>
    <link rel="stylesheet" href="style.css" type="text/css" />
  </head>
  <body class="page-list">

    <div class="header">
      <img class="logo" src="logo.png" height="28" width="159" align="center"/>
      <p class="book-grey book-info">
        <%= xhtml_fix @page.title %>.
      </p>
      <p class="book-grey book-info">
        <%= newsrelease_date_formatted %>
      </p>
    </div>

    <div class="main">
      <div class="links">
        <br />
        <a href="toc.html" class="book-grey">Содержание</a>
        <br />
        <div>
          <% if @prev_page %>
            <span>
              <img src="arrow-left.png" width="15" height="15" align="center" />
              <a href="p_<%= @prev_page.slug %>.html" class="book-grey prev"><%= xhtml_fix @prev_page.title %></a>
            </span>
            &#160;
          <% end %>
          <% if @next_page %>
            <span>
              <a href="p_<%= @next_page.slug %>.html" class="book-grey next"><%= xhtml_fix @next_page.title %></a>
              <img src="arrow-right.png" width="15" height="15" align="center" />
            </span>
          <% end %>
        </div>
      </div>

      <h1 id="header"><%= xhtml_fix @page.title %></h1>

      <div class="list">
        <% @page.documents.each do |article| %>
          <div class="list-item">
            <% if article.has_image? %>
              <a href="a<%= article.id %>.html">
                <div>
                  <img src="<%= article_image(article, 'thumbnail_low').file %>" />
                </div>
                <p class="title"><%= xhtml_fix article.title %></p>
              </a>
            <% else %>
              <a class="title" href="a<%= article.id %>.html">
                <%= xhtml_fix article.title %>
              </a>
            <% end %>
            <% if article.subtitle %>
              <p class="text"><%= xhtml_fix article.subtitle %></p>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

  </body>
</html>
