<?xml version="1.0" encoding="utf-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops">
  <head>
    <link rel="stylesheet" href="style.css" type="text/css" />
  </head>
  <body class="page-main" id="toc">
    <img class="logo" src="logo.png" />

    <p class="center book-grey book-info">
      <%= xhtml_fix newsrelease.title %>.
    </p>

    <p class="center book-grey book-info">
      <%= newsrelease_date_formatted %>
    </p>

    <ul class="book-toc">
      <% newspaper_pages.each do |page| %>
        <li>
          <a href="p_<%= page.slug %>.html"><%= xhtml_fix page.title %></a>
        </li>
      <% end %>
    </ul>

  </body>
</html>
