tr valign="middle"
  td height="30" align="left"
    a href="https://vedomosti.ru"
      img src="http://www.vedomosti.ru/assets/mailings/logo.png"
  td height="30" align="right"
    span{style="color: #857871;"} Vedomosti.ru
