tr
  td align='center' colspan=6
    font color='#857871' face='Arial'  ПРИЛОЖЕНИЕ «ВЕДОМОСТИ»
    br
    table colspan=0 rowspan=0 border=0 style="border-collapse: collapse;"
      tr height=3
        td colspan=6
      tr
        td colspan=3
          a href="https://play.google.com/store/apps/details?id=ru.vedomosti.android"
            img alt="Google Play" src="http://www.vedomosti.ru/static/letter/google_play.jpg"
        td colspan=3
          a href="https://itunes.apple.com/ru/app/vedomosti/id521051076?mt=8"
            img alt="App Store" src="http://www.vedomosti.ru/static/letter/app_store.jpg"
